<!DOCTYPE html>
<html>
<head>
	<title>Ultimate Express Application</title>
  	<% include ./partials/header.ejs %>
</head>

<body>
	<h1>Message</h1>
	<h2>Error Status: <%=error.status%></h2>
	<p><%=err_msg%></p>
	<p>Error Stack: <%=error.stack%></p>
</body>

</html>