<!DOCTYPE html>
<html>
<head>
	<title>Ultimate Express Application</title>
  	<% include ../partials/header.ejs %>
</head>

<body>
	<h1><%=title%></h1>
	<p>Welcome to <%=title%> + ejs changes</p>
	<hr/>
	<form method="post" enctype="multipart/form-data" action="/upload-file">
		<div class="form-group">
   			<label for="exampleInputFile">File input</label>
    		<input type="file" class="form-control-file" id="inputFileId" name="inputFileName" aria-describedby="fileHelp">
    		<hr />
    		<input type="submit" value="upload">
  		</div>
	</form>
</body>

</html>