<!DOCTYPE html>
<html>
<head>
	<title>Ultimate Express Application</title>
  	<% include ../partials/header.ejs %>
</head>

<body>
	<h1>${title}</h1>
	<p>Welcome to ${title} + changes</p>
</body>

</html>